﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@model System.Data.DataTable;
<style>
    .table-data {
        overflow-y: auto;
        height: 71vh;
    }

        .table-data thead tr {
            position: sticky;
            top: 0;
        }
</style>

<h1>@ViewBag.data</h1>
<div class="Container">
    <div class="table-data">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary fixed">
                    <th scope="col">Country Name</th>
                    <th scope="col">Country Code</th>
                    <th scope="col" colspan="2" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow data in Model.Rows)
                {
                    <tr>
                        <td>@data["ProjectTitle"]</td>
                        <td>@data["ProjectDescription"]</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@*@model IEnumerable<TaskManagementSoftware.Models.ProjectList>
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<h2>@ViewBag.MySession</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.UserId == @ViewBag.UserID)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectOwnerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadLine)
                    </td>                 
                </tr>
            }
        }
    </tbody>
</table>*@