﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@model System.Data.DataTable;
<style>
    .table-data {
        overflow-y: auto;
        height: 71vh;
    }

        .table-data thead tr {
            position: sticky;
            top: 0;
        }
</style>

<div class="Container">
    <form method="post" asp-area="Admin" asp-controller="Dashbord" asp-action="AddProjectForm">
        <button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus"></i>Add Project</button>
    </form>
    <div class="table-data">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary fixed">
                    <th scope="col">Project Tile</th>
                    <th scope="col">Project Description</th>
                    <th scope="col" colspan="2" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (System.Data.DataRow data in Model.Rows)
                {
                    <tr>
                        <td>@data["ProjectTitle"]</td>
                        <td>@data["ProjectDescription"]</td>
                        <td>
                            <form method="post" asp-area="Admin" asp-controller="Dashbord" asp-action="DeleteProject" asp-route-ProjectID="@data["ProjectID"]">
                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i>Delete</button>
                            </form>
                            <form method="post" asp-area="Admin" asp-controller="Dashbord" asp-action="UpdateProject" asp-route-ProjectID="@data["ProjectID"]">
                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i>Update</button>
                            </form>
                            <form method="post" asp-area="Admin" asp-controller="Dashbord" asp-action="ProjectDetails" asp-route-ProjectID="@data["ProjectID"]">
                                <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i>Show Details</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <a asp-area="Admin" asp-controller="Dashbord" asp-action="Logout">Logout</a>
</div>


@*@model IEnumerable<TaskManagementSoftware.Models.ProjectList>
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<h2>@ViewBag.MySession</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectOwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeadLine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.UserId == @ViewBag.UserID)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectOwnerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadLine)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@