@using Task_Management_System.BAL;
@model Task_Management_System.Areas.Users.Models.AddTaskModel

@{
    Layout = "_Layout_Header";
}

<div class="wrapper">
    @{
        String buttonName = "";
        if (ViewBag.TaskID != null)
        {
            ViewBag.TaskID = "Edit Task Details";
            buttonName = "Save Changes";
        }
        else
        {
            ViewBag.TaskID = "Add Your Task";
            buttonName = "Add Task";
        }
    }
    <div class="registration_form">
        <div class="title">
            @ViewBag.TaskID
        </div>
        <form asp-action="AddTask">
            @Html.HiddenFor(x => x.TaskID)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form_wrap">

                <div class="input_wrap">
                    <label asp-for="TaskName" for="fname">Task Name</label>
                    <input asp-for="TaskName" name="TaskName" type="text" id="fname">
                    <div><span asp-validation-for="TaskName" class="text-danger"></span></div>
                </div>
                <div class="input_wrap">
                    <label asp-for="TaskDescription" for="fname">Task Dedcription</label>
                    <textarea asp-for="TaskDescription" name="TaskDescription" type="text"
                              rows="5" id="fname" class="form-control rounded-1 p-2"></textarea>
                    <div><span asp-validation-for="TaskDescription" class="text-danger"></span></div>
                </div>

                <div class="input_wrap">
                    <label asp-for="DeadLine" for="fname">Task DeadLine  </label>
                    <input asp-for="DeadLine" name="DeadLine" type="date" id="fname">
                    <div><span asp-validation-for="DeadLine" class="text-danger"></span></div>
                </div>

                <div class="input_wrap">
                    <input type="submit" value="@buttonName" class="submit_btn">
                </div>
                <a class="btn btn-secondary" asp-area="Users" asp-controller="Task" asp-action="Task" asp-route-ProjectID="@UrlEncryptor.Encrypt(@CommonVariables.ProjectID.ToString())">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}