@using Task_Management_System.Areas.Users.Models;
@{
    Layout = "_Layout_Header";
}

<style>
    .table-data {
        overflow-y: auto;
        height: 71vh;
    }

        .table-data thead tr {
            position: sticky;
            top: 0;
        }
</style>

<div class="container-fluid">
    <h2 class="text-center m-2">Manage your Projects</h2>

    <div class="row justify-content-around">
        <div class="col rounded-3 shadow bg-primary m-1 py-2">
            <div class="title"><img src="~/icons/project.png" href="LOGO" class="imgSize" />projects</div>
            <div class="value mt-2 ms-1">@Model.DashboordData.sumOfProject</div>
        </div>
        <div class="col rounded-3 shadow bg-success m-1 py-2">
            <div class="title"><img src="~/icons/team.png" href="LOGO" class="imgSize" /> team members</div>
            <div class="value mt-2 ms-1">@Model.DashboordData.sumOfMember</div>
        </div>
        <div class="col rounded-3 shadow bg-warning m-1 py-2">
            <div class="title"><img src="~/icons/budget.png" href="LOGO" class="imgSize" /> total budget</div>
            <div class="value mt-2 ms-1">@Model.DashboordData.sumOfBudget.ToString("#,##") Rs.</div>
        </div>
        <div class="col rounded-3 shadow bg-danger m-1 py-2">
            <div class="title"><img src="~/icons/customer.png" href="LOGO" class="imgSize" /> new customers</div>
            <div class="value mt-2 ms-1">@Model.DashboordData.sumOfCustomers</div>
        </div>
    </div>


    <form method="post" asp-area="Users" asp-controller="Dashbord" asp-action="AddProjectForm">
        <div class="row justify-content-between mt-3 mb-1">
            <div class="col-3">
                <input id="filter-text" class="form-control" onkeyup="filterTable(this)" placeholder="Search" type="text" fdprocessedid="ee7wrj">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus"></i>Add Project</button>
            </div>
        </div>
    </form>
    <div class="table-data">
        @if (Model.DashboordData.sumOfProject != 0)
        {

            <table class="table table-hover">
                <thead>
                    <tr class="table-primary fixed">
                        <th scope="col">Project Name</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Project Owner</th>
                        <th scope="col">Status</th>
                        <th scope="col" colspan="3" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody id="ItemTableBody">
                    @foreach (NewProjectModel data in Model.ProjectDetails)
                    {
                        <tr>
                            <td>@data.ProjectTitle</td>
                            <td>@data.DeadLine.ToString("dd/MM/yyyy")</td>
                            <td>@data.ProjectOwnerName</td>
                            <td>@data.ProjectState</td>
                            <td class="d-flex justify-content-center">
                                <a onclick="return confirmDelete();" class="btn btn-outline-danger m-1" asp-area="Users" asp-controller="Dashbord" asp-action="DeleteProject" asp-route-ProjectID="@data.ProjectID">@*<i class="bi bi-trash"></i>*@Delete</a>
                                @{
                                    string encryptedData = UrlEncryptor.Encrypt(@data.ProjectID.ToString());
                                    <a class="btn btn-outline-primary m-1" asp-area="Users" asp-controller="Dashbord" asp-action="UpdateProject" asp-route-PrjectID="@encryptedData">Update</a>
                                    <a class="btn btn-outline-success m-1" asp-area="Users" asp-controller="Dashbord" asp-controller="Task" asp-action="ProjectDetails" asp-action="Task" asp-route-ProjectID="@encryptedData">Details</a>
                                    <a class="btn btn-outline-warning m-1" asp-area="Users" asp-controller="Task" asp-action="Task" asp-route-ProjectID="@encryptedData">Manage Task</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section Scripts{
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this Project?");
        }
    </script>

    <script>
        function filterTable(searchText) {
            var stext = searchText.value.toLowerCase();
            $('#ItemTableBody tr').each(function () {
                var row = $(this);
                var ingredientName = row.find('td:eq(0)').text().toLowerCase();
                var created = row.find('td:eq(1)').text().toLowerCase();
                var modified = row.find('td:eq(2)').text().toLowerCase();
                var sequence = row.find('td:eq(3)').text().toLowerCase();
                var quantity = row.find('td:eq(4)').text().toLowerCase();

                if (ingredientName.includes(stext) || created.includes(stext) || modified.includes(stext) || sequence.includes(stext) || quantity.includes(stext)) {
                    row.show();
                } else {
                    row.hide();
                }
            });
        }
    </script>
}
