@using Task_Management_System.Areas.Users.Models;
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Header";
}

<style>
    .table-data {
        overflow-y: auto;
        height: 71vh;
    }

        .table-data thead tr {
            position: sticky;
            top: 0;
        }
</style>

<div class="Container">
    <h2 class="text-center">Manage your Projects</h2>
    <form method="post" asp-area="Users" asp-controller="Dashbord" asp-action="AddProjectForm">
        <div class="card-listab-content">
            <div class="row justify-content-around">
                <div class="card ds blue col-lg-2 col-md-4 m-2"> 
                    <div class="title"><img src="~/icons/project.png" href="LOGO" class="imgSize"/>projects</div>
                    <div class="value">@Model.DashboordData.sumOfProject</div>
                </div>
                <div class="card ds green col-lg-2 col-md-4 m-2">
                    <div class="title"><img src="~/icons/team.png" href="LOGO" class="imgSize" /> team members</div>
                    <div class="value">@Model.DashboordData.sumOfMember</div>
                </div>
                <div class="card ds orange col-lg-2 col-md-4 m-2">
                    <div class="title"><img src="~/icons/budget.png" href="LOGO" class="imgSize" /> total budget</div>
                    <div class="value">@Model.DashboordData.sumOfBudget.ToString("#,##0.00") Rs.</div>
                </div>
                <div class="card ds red col-lg-2 col-md-4 m-2">
                    <div class="title"><img src="~/icons/customer.png" href="LOGO" class="imgSize" /> new customers</div>
                    <div class="value">@Model.DashboordData.sumOfCustomers</div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus"></i>Add Project</button>
        </div>
    </form>
    <div class="table-data">
        <table class="table table-hover">
            <thead>
                <tr class="table-primary fixed">
                    <th scope="col">Project Name</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Project Owner</th>
                    <th scope="col">Status</th>
                    <th scope="col" colspan="3" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (NewProjectModel data in Model.ProjectDetails)
                {
                    <tr>
                        <td>@data.ProjectTitle</td>
                        <td>@data.DeadLine.ToString("dd/MM/yyyy")</td>
                        <td>@data.ProjectOwnerName</td>
                        <td>Pending</td>
                        <td class="d-flex justify-content-center">
                            <a class="btn btn-outline-danger m-1" asp-area="Users" asp-controller="Dashbord" asp-action="DeleteProject" asp-route-ProjectID="@data.ProjectID">Delete</a>
                            <a class="btn btn-outline-primary m-1" asp-area="Users" asp-controller="Dashbord" asp-action="UpdateProject" asp-route-ProjectID="@data.ProjectID">Update</a>
                            <a class="btn btn-outline-success m-1" asp-area="Users" asp-controller="Dashbord" asp-action="ProjectDetails" asp-route-ProjectID="@data.ProjectID">Details</a>
                            <a class="btn btn-outline-warning m-1" asp-area="Users" asp-controller="Task" asp-action="Task" asp-route-ProjectID="@data.ProjectID">Manage Task</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
