@model System.Data.DataTable;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Header";
}
<h3 class="m-2">Project Details</h3>
<div class="Container">
    <div class="table-data">
        <table class="table table-hover">
            <tbody>
                @foreach (System.Data.DataRow data in Model.Rows)
                {
                    <div class="card shadow-sm bg-white rounded">
                        <div class="card-body">
                            <h3 class="card-title">@data["ProjectTitle"]</h3>

                            <p>
                                Projection Description: @data["ProjectDescription"]  <br />
                                Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
                                Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut.
                                Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
                            </p>


                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Project Owner:    </span>@data["ProjectOwnerName"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Project Cost:     </span>@data["ProjectCost"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Project Status:   </span>@data["ProjectState"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Total Task:   </span>@data["NoOfTask"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Pending Task:   </span>@data["NoOfPendingTask"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Progress Task:   </span>@data["NoOfInProgressTask"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Completed Task:   </span>@data["NoOfDoneTask"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Rejected Task:   </span>@data["NoOfRejectedTsk"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Total Members:  </span>@data["TotalMembers"]</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Created Date:     </span>@Convert.ToDateTime(data["CreatedDate"]).ToString("dd/MM/yyyy")</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Project DeadLine: </span>@Convert.ToDateTime(data["DeadLine"]).ToString("dd/MM/yyyy")</h6>
                            <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Last Modified:    </span>@Convert.ToDateTime(data["ModifiedDate"]).ToString("dd/MM/yyyy")</h6>

                            <a data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                <h6 class="list-group-item list-group-item-action d-flex"><span class="w-25">Assigned Members:   </span>@data["AssignedMember"]</h6>
                                @if (Convert.ToInt32(data["AssignedMember"]) != 0)
                                {
                                    <table class="collapse table shadow-sm bg-white rounded" id="collapseExample">
                                    <thead>
                                        <tr>    
                                            <th scope="col">Member Name</th>
                                            <th scope="col">Member Role</th>
                                            <th scope="col">Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (System.Data.DataRow item in ViewBag.MemberList.Rows)
                                        {
                                            <tr>
                                                <td>@item["MemberName"]</td>
                                                <td>@item["MemberRole"]</td>
                                                <td>@item["MemberEmail"]</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                }
                            </a>
                        </div>
                    </div>
                }
            </tbody>
        </table>
        <a class="btn btn-secondary" asp-area="Users" asp-controller="Dashbord" asp-action="Dashbord">Back</a>
    </div>
</div>



