@model List<API_Consume.Models.StudentModel>
<h2>Student List</h2>

@if (Model != null && Model.Count > 0)
{
    <div class="Container">
        <nav class="navbar bg-body-tertiary mb-2">
            <div class="d-flex col justify-content-end">
                <a asp-controller="Student" asp-action="AddEdit" class="btn btn-outline-primary"><i class="bi bi-plus"></i>Add Student</a>
            </div>
        </nav>
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Student Age</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stu in Model)
                {
                    <tr>
                        <td>@stu.StudentID</td>
                        <td>@stu.StudentName</td>
                        <td>@stu.StudentAge</td>
                        <td>
                            <a asp-controller="Student" asp-action="Delete" asp-route-StudentID="@stu.StudentID" class="btn btn-outline-danger">Delete</a>
                            <a asp-controller="Student" asp-action="AddEdit" asp-route-StudentID="@stu.StudentID" class="btn btn-outline-danger">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>No Student found.</p>
}